.ant-list-bordered {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-top: 75px auto;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
    // z-index: -4;
    background: whitesmoke;
}